---

---

<section class="grid text-primary font-medium text-3xl grid-cols-1 lg:grid-cols-[repeat(auto-fit,_minmax(430px,_1fr))] gap-6 relative justify-items-center max-w-full">
    <slot />
</section>