---
import {Li} from "../components/Li.jsx"
---

<nav class="relative place-center px-4">
    <ul class="h-full overflow-auto custom-scrollbar-transparent text-primary text-xl">
        <Li client:visible>All</Li>
        <Li client:visible slug="block">Block</Li>
        <Li client:visible slug="animation">Animation</Li>
        <Li client:visible slug="documentation" >Documentation</Li>
    </ul>    
</nav>