---
// import {Li} from "../components/Li.jsx"
import Li from "@/components/Li.astro"
---

<nav class="hidden md:block relative place-center">
    <ul class="h-full overflow-auto custom-scrollbar-transparent text-primary text-xl">
        <Li slug="">All</Li>
        <Li slug="block">Block</Li>
        <Li slug="animation">Animation</Li>
        <Li slug="documentation" >Documentation</Li>
    </ul>    
</nav>