---
import {Prism} from '@astrojs/prism'
import Layout from '../../layouts/Layout.astro'
import { Code } from 'astro:components'
import BlockContent from '../../components/block/BlockContent.astro'
import CopyCode from '../../components/CopyCode.astro'
import {contentArray} from '../../db/db'

interface Content {
    id: number
    slug: string
    code: string
    language: string
}

const CODE: Content| undefined = contentArray.find(c => c.slug === 'navbar-blur')
---

<Layout 
	description="Componente hecho con tailwind, html para añadir el efecto blur a tu menú de navegación"
	title="Navbar Blur Effect" 
>
    <section class="flex flex-col gap-6 pr-10">
        <div class="flex flex-col gap-6">
            <h3 class="sr-only">Copia y disfruta del código para tener un header con efecto Blur</h3>
            <span class="text-primary text-4xl font-medium">Navbar with Blur Effect</span>
        </div>

        <BlockContent>
            <div 
                style={{border: '1px solid rgba(0,0,0,.2)', background: 'var(--cards-background-color)'}}
                class="relative w-full rounded-lg border p-4 max-h-[450px] h-[450px] overflow-auto grid place-content-center"
            >
                <header style='box-shadow: 0 0 30px 0 rgba(250, 250, 250, 0.2);
                  position: fixed;
                  max-width: 100%;
                  width: auto;
                  height: auto;
                  z-index: 10;
                  backdrop-filter: blur(10px); /* Adjust the blur value as needed */
                  background-color: rgba(0,0,0,.336); /* Adjust the background color and opacity as needed */
                  display: grid;
                  grid-template-areas: "nav";
                  align-items: center;'>
                          <nav style='font-family: Poppinn;
                          font-weight: 500;
                          display: flex;
                          align-items: center;
                          justify-content: space-between;
                          max-width: 100%;
                          padding-left: 1rem;
                          padding-right: 1rem;'>
                          <a href='/'>
                              <svg 
                              style='max-width: 130px; width: 100%;height: auto; color: var(--color-primary)'
                              version="1.0" 
                              xmlns="http://www.w3.org/2000/svg"
                              width="769.000000pt" 
                              height="513.000000pt" 
                              viewBox="0 0 769.000000 513.000000"
                              preserveAspectRatio="xMidYMid meet"
                              >
              
                              <g transform="translate(0.000000,513.000000) scale(0.100000,-0.100000)"
                              fill="currentColor" stroke="none">
                              <path d="M5395 3876 c-338 -53 -569 -237 -631 -502 -24 -104 -15 -297 17 -384
                              49 -131 164 -265 306 -359 43 -29 211 -118 373 -198 295 -146 295 -146 376
                              -227 94 -94 118 -147 117 -256 -1 -146 -90 -255 -253 -310 -214 -72 -579 -23
                              -850 115 -29 15 -54 25 -56 23 -9 -9 -104 -354 -100 -364 6 -17 140 -70 247
                              -99 192 -51 329 -69 539 -69 219 -1 301 12 452 68 122 46 191 90 279 176 128
                              127 188 280 189 476 0 175 -52 308 -171 438 -94 102 -173 152 -489 311 -296
                              149 -397 211 -461 283 -62 70 -83 123 -83 212 -1 186 115 287 360 315 135 15
                              431 -46 588 -121 28 -13 53 -21 57 -17 11 13 100 344 94 353 -10 17 -157 71
                              -257 95 -218 52 -468 68 -643 41z"/>
                              <path d="M1899 3823 c-52 -135 -919 -2517 -919 -2524 0 -5 95 -9 223 -9 l223
                              0 371 1072 c242 701 375 1073 384 1073 9 0 140 -370 380 -1070 l366 -1070 243
                              -3 c139 -1 240 1 238 7 -1 4 -212 581 -468 1280 l-464 1271 -283 0 -283 0 -11
                              -27z"/>
                              <path d="M3730 2570 l0 -1280 215 0 215 0 0 1280 0 1280 -215 0 -215 0 0
                              -1280z"/>
                              <path d="M1755 1281 c-3 -5 -30 -80 -60 -165 l-54 -156 534 0 c300 0 535 4
                              535 9 0 5 -24 78 -54 162 l-54 154 -420 3 c-257 1 -423 -1 -427 -7z"/>
                              </g>
                              </svg>
                          </a>
                  
                          <ul style='display: flex; flex-direction: row; list-style:none; font-weight: bold; gap: 18px'>
                              <li style='color: var(--color-primary)'>Test</li>
                              <li style='color: var(--color-primary)'>
                              Test
                              </li>
                              <li style='color: var(--color-primary)'>Test</li>
                          </ul>
                          </nav>
                      </header>
                      <div style='margin-top: 100px; color: var(--color-primary)'>
                                  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, tempor bibendum iaculis suspendisse blandit mi natoque, praesent libero aliquet phasellus nulla netus. Hac lectus dictum et habitant vitae habitasse suspendisse odio placerat, etiam convallis potenti ac mattis feugiat montes libero cum primis, luctus mauris vehicula tristique posuere auctor dapibus venenatis. Platea cras turpis parturient viverra pretium netus purus potenti nisi sociis, consequat mus ligula quam mattis malesuada accumsan dui etiam sodales scelerisque, blandit nec urna ullamcorper arcu curae nunc at suspendisse.
                                  Sodales eu curae quis odio aptent inceptos auctor id, velit montes nec molestie mauris non in, mus lectus risus felis cras nostra sem. Proin porttitor montes ligula sapien pellentesque bibendum ullamcorper per, tellus curabitur morbi laoreet donec neque auctor vehicula mauris, egestas eu mollis tempor nisi sodales ad. Curae vehicula mauris ornare risus nullam mattis pellentesque nostra, in iaculis libero aliquam faucibus montes ultricies inceptos, class scelerisque parturient accumsan ante dignissim auctor. Lorem ipsum dolor sit amet consectetur adipiscing elit, tempor bibendum iaculis suspendisse blandit mi natoque, praesent libero aliquet phasellus nulla netus.</p>
                                </div>
            </div>
              
            <div 
                style={{border: '1px solid rgba(0,0,0,.2)', background: 'var(--cards-background-color)'}}
                class="relative w-full rounded-lg border border-[var(--color-primary)] max-h-[450px] h-[450px] overflow-auto"
            >
                <div>
                  <CopyCode slug="navbar-blur"/>
                </div>
                <div class="text-lg h-full" id='navbar-blur'>
                  <pre class='text-base flex h-full'>
                    {CODE && (
                      <Prism 
                      class="!border-0 !text-xl !mb-0 flex-grow !mt-8"
                      code={CODE.code} 
                      lang={CODE.language} />
                  )}
                    </pre>
                </div>
              </div>
        </BlockContent>
    </section>
</Layout>

<script>
    
</script>
